<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--

    -->
</head>
<body>
<div id="example" align="center">
    <ol>
        <li v-for="(item, key, index) in items" :key="`${item}-${key}`">{{ `${index}-${key}-${item}` }}</li>
    </ol>
    <ul>
        <li v-for="(item, key, index) in obj" :key="`${item}-${key}`">{{ `${index}-${key}-${item}` }}</li>
    </ul>

</div>
</body>
<script>
    var vm = new Vue({
        el: '#example',
        data: {
            items: ['js', 'python', 'java', 'go', 'ruby'],
            obj: {
                name: 'ly',
                age: 21,
            }
        },
        computed: {
        }
    })
</script>
</html>