<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--
        inheritAttrs属性用类设置一个组件根元素是否继承特性,这里的特性指的是非props特性,props特性是一定会被传给根元素的,
        并且class和style也一定会传递给根元素
    -->
</head>
<body>
<div id="example" align="center">
    <base-input
            v-model="username"
            class="username-input"
            style="color: red;"
            placeholder="Enter your username"
            attr="hhh"
    ></base-input>
</div>
</body>
<script>
    Vue.component('base-input', {
        inheritAttrs: false,
        props: ['label', 'value'],
        template: `
    <label>
      {{ label }}
      <input
        v-bind="$attrs"
        v-on:input="$emit('input', $event.target.value)"
      >
    </label>
  `
    })
    var vm = new Vue({
        el: '#example',
        data: {
        },
        computed: {
        }
    })
</script>
</html>